<!-- ADAtickets is a simple, lightweight, open source ticketing system
interacting with your enterprise's repositories on Azure DevOps
with a two-way synchronization.
Copyright (C) 2025  Andrea Lucchese

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.-->
@page "/welcome"

@using System.Globalization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject IStringLocalizer<Welcome> loc
@inject NavigationManager navManager
@inject AuthenticationStateProvider authStateProvider
@inject IConfiguration configuration

@attribute [AllowAnonymous]

<PageTitle>ADAtickets - @loc["Title"]</PageTitle>
<style>
    body {
        background: var(--neutral-layer-2);
    }
</style>
<FluentCard Width="fit-content" Height="fit-content" Style="display: flex; flex-direction: column; align-items: center; gap: 1em; padding: 2em; margin: auto; min-width: 420px;">
    @if (CurrentTheme == DesignThemeModes.Dark)
    {
        <img src="LogoDark.svg" />
    }
    else
    {
        <img src="LogoLight.svg" />
    }
    <span style="text-align: center;">
        <FluentLabel Weight="FontWeight.Bold">@loc["Greeting1"]</FluentLabel>
        <FluentLabel Weight="FontWeight.Bold">@loc["Greeting2"]</FluentLabel>
    </span>
    <span style="display: flex; flex-direction: column; gap: 1em;">
        <span style="display: flex; flex-direction: row; gap: 1em;">
            <FluentButton Appearance="Appearance.Accent" 
                          IconStart="@(new Icons.Regular.Size20.Person())" 
                          Style="width: 100%; min-width: 240px;" 
                          OnClick="@(() => navManager.NavigateTo("MicrosoftIdentity/Account/SignIn/ExternalEntra?redirectUri=/signin-oidc-external-entra", true))">
                @loc["UserButton"]
            </FluentButton>
            <FluentIcon Id="UserButton" Icon="Icons.Regular.Size20.Info"></FluentIcon>
            <FluentTooltip Anchor="UserButton" Position="TooltipPosition.End">@loc["UserButtonTooltip"]</FluentTooltip>
        </span>
        <span style="display: flex; flex-direction: row; gap: 1em;">
            <FluentButton Appearance="Appearance.Accent" 
                          IconStart="@(new Icons.Regular.Size20.Wrench())" 
                          Style="width: 100%; min-width: 240px;" 
                          OnClick="@(() => navManager.NavigateTo("MicrosoftIdentity/Account/SignIn/Entra?redirectUri=/signin-oidc-entra", true))">
                @loc["AdminButton"]
            </FluentButton>
            <FluentIcon Id="AdminButton" Icon="Icons.Regular.Size20.Info"></FluentIcon>
            <FluentTooltip Anchor="AdminButton" Position="TooltipPosition.End">@loc["AdminButtonTooltip"]</FluentTooltip>
        </span>
    </span>
</FluentCard>

@code {
    [CascadingParameter(Name = "ThemeMode")]
    private DesignThemeModes CurrentTheme { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        var authState = await authStateProvider.GetAuthenticationStateAsync();

        var user = authState.User;

        if (user?.Identity?.IsAuthenticated == true)
        {
            var tenantId = user.Claims?.FirstOrDefault(c => c.Type.Equals("http://schemas.microsoft.com/identity/claims/tenantid"))?.Value;
            var primaryTenantId = configuration.GetSection("Entra:TenantId").Value;

            if (tenantId == primaryTenantId)
            {
                navManager.NavigateTo("/signin-oidc-entra", true);
            }
            else
            {
                navManager.NavigateTo("/signin-oidc-external-entra", true);
            }
        }
    }
}
