<!-- ADAtickets is a simple, lightweight, open source ticketing system
interacting with your enterprise repositories on Azure DevOps
with a two-way synchronization.
Copyright (C) 2025  Andrea Lucchese

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.-->
@using ADAtickets.Shared.Constants
@using ADAtickets.Web.Components.Shared
@using ADAtickets.Web.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using static ADAtickets.Web.Utilities.Dialogs

@inject IStringLocalizer<Navigation> loc
@inject IDialogService dialogService

<div class="nav-menu">
    <FluentNavMenu Width="250" Collapsible="true" CollapsedChildNavigation="true">
        <FluentNavGroup Icon="@(new Size20.TicketDiagonal())" Title="@loc["Tickets"]" Expanded="true">
            <FluentNavLink Href="/my-tickets">@loc["MyTickets"]</FluentNavLink>
            <AuthorizeView Policy="@Policy.UserOnly">
                <FluentNavLink OnClick="ShowNewTicketDialogAsync">@loc["NewTicket"]</FluentNavLink>
            </AuthorizeView>
        </FluentNavGroup>

        <AuthorizeView Policy="@Policy.AdminOnly">
            <FluentNavGroup Icon="@(new Size20.Database())" Title="@loc["DatabaseManagement"]"
                            Expanded="true">
                <FluentNavLink Href="/users">@loc["Users"]</FluentNavLink>
                <FluentNavLink Href="/platforms">@loc["Platforms"]</FluentNavLink>
            </FluentNavGroup>
        </AuthorizeView>

        <FluentNavGroup Icon="@(new Size20.Settings())" Title="@loc["Settings"]" Expanded="true">
            <FluentNavLink
                OnClick="ShowThemeAndPersonalizationDialogAsync">@loc["ThemeAndPersonalization"]</FluentNavLink>
        </FluentNavGroup>
    </FluentNavMenu>
</div>

@code {

    private async Task ShowNewTicketDialogAsync()
    {
        await dialogService.ShowDialogAsync<TicketDialog>(
            new TicketDialogContent
            {
                IsEdit = false,
                IsUser = true,
                InitialTicketData = null
            },
            new DialogParameters
            {
                TrapFocus = false,
                PreventScroll = true,
                PreventDismissOnOverlayClick = true
            }
        );
    }

    private async Task ShowThemeAndPersonalizationDialogAsync()
    {
        await dialogService.ShowDialogAsync<ThemeAndPersonalizationDialog>(
            new DialogParameters
            {
                TrapFocus = false,
                PreventScroll = true,
                PreventDismissOnOverlayClick = true
            }
        );
    }

}